<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerar Treino</title>
</head>
<body>
    <h2>Gerar Treino Personalizado</h2>

    <form action="" method="post">
        {{ form.hidden_tag()}}
            <div>
                {{form.nivel.label}}<br>
                {{form.nivel()}}
            </div>
            <div>
                {{form.objetivo.label}}<br>
                {{form.objetivo()}}
            </div>
            <div>
                {{form.dias.label}}<br>
                {{form.dias()}}
            </div>
            <div>
                {{form.submit()}}
            </div>
    </form>
</body>
</html>