<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login - FitForm</title>
</head>
<body>
    <h2>Login</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.email.label }} {{ form.email(size=32) }}</p>
        <p>{{ form.senha.label }} {{ form.senha(size=32) }}</p>
        <p>{{ form.submit() }}</p>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>
